<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css')}}">
    <title>Tarot Home</title>
</head>
<body>
    <form action="/" method="post">
        <label for="question">What do you want to ask?</label><br>
        <input type="text" id="question" name="question" required><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>